.button {
  [class*='awsui_button'] {
    border-width: 1.5px !important;
    transition: all 0.2s !important;
    &:disabled {
      &:hover { cursor: not-allowed !important; }
    }
    &[class*='awsui_variant-primary'],
    &[class*='awsui_variant-normal'] {
      padding-bottom: 8px !important;
      padding-top: 8px !important;
      font-size: 15px !important;
    }
    &[class*='awsui_variant-normal'] {
      &:active {
        @apply border-grey300 #{!important};
      }
    }
  }
}
