@use '@risk-smart/themed-design-tokens/visual-refresh' as awsui;

.badgeEnterprise {
  margin-left: 0.5rem;
  min-width: 80px;
  text-align: center !important;
  background-color: rgb(0, 222, 203) !important;
  color: rgb(45, 45, 83) !important;
}

.badgeEntity {
  margin-left: 0.5rem;
  min-width: 80px;
  text-align: center !important;
  background-color: grey !important;
}
