APP_NAME=risksmartApp
TPP_APP_NAME=third-party-portal
STAGE=tech-admin
AWS_ACCOUNT_ID=000000000000
AWS_REGION=eu-west-2
BASE_DOMAIN=risksmart.link
HASURA_JWT_SECRET={"type":"RS256","jwk_url": "https://dev-t8t3iey3b54zkh7i.uk.auth0.com/.well-known/jwks.json", "allowed_skew": 600}
HASURA_GRAPHQL_ENABLE_CONSOLE=true
HASURA_GRAPHQL_PG_CONNECTIONS=100
HASURA_GRAPHQL_LOG_LEVEL=debug
VPN_ENABLED=false
TRPC_CONTAINER_BUILD=local
TRPC_SENTRY_DSN=NOTADSN
EXTAPI_CONTAINER_BUILD=local
TENANT_DEPLOYER_CONTAINER_BUILD=local
SENTRY_RELEASE=local-dev
EXTAPI_STACK_CONFIG={"client_table_arn":"arn:aws:dynamodb:eu-west-2:000000000000:table/ext-api-clients-tbl","client_table_name":"ext-api-clients-tbl","rate_limit_table_arn":"arn:aws:dynamodb:eu-west-2:000000000000:table/ext-api-rate-limit-tbl","rate_limit_table_name":"ext-api-rate-limit-tbl","jwt_config":{"alg":"RS256","jwk_url":"http://localhost/.well-known/jwks.json","provider":"mock"},"token_url":"http://localhost/token","user_pool_id":"test","jwt_providers":[]}
TENANT_CONFIG_TABLE=TenantConfig
LOCAL_DATABASE_CONNECTION_STRING=postgres://postgres:postgrespassword@postgres:5432/postgres
DYNAMODB_ENDPOINT=http://dynamodb-local:8000
PDP_ENDPOINT=http://pdp:7000
PERMIT_API_URL=https://api.permit.io
LOCAL_PDP_API_KEY=yourkeyhere
PDP_API_KEY=yourkeyhere
INTEGRATIONS_CONTAINER_BUILD=test
PROXY_FACTS_VIA_PDP=true
AUTH0_MANAGEMENT_CLIENT_ID=
REACT_APP_AUTH0_CLIENT_ID=
AUTH0_RISK_SMART_REST_API_CLIENT_ID=
AUTH0_RISK_SMART_CIRCLE_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_DOMAIN=
MCP_AUTH0_DOMAIN=
MCP_AUTH0_API_AUDIENCE=
