.textInferenceButton {
  button {
    border-radius: 3px !important;
    @apply bg-blue200 #{!important};
    padding-left: 0px !important;
    padding-right: 0px !important;

    height: 26px;
    width: 26px;
    text-align: center !important;
    border: none !important;
    &:hover {
      @apply bg-teal text-navy_light #{!important};
    }

    [class*='awsui_content'] {
      height: 22px !important;
      padding-bottom: 0px;
      padding-top: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  [class*='awsui_icon'] {
    display: none !important;
  }
}
