@use '@risk-smart/themed-design-tokens/visual-refresh' as awsui;

.badgeContainer {
  max-width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  min-width: 100%;
  min-width: 100%;
  min-height: 100%;
  height: 35px;
  max-height: 35px;
  margin-bottom: -13px;
}

.bar {
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.bar:hover {
  filter: brightness(120%);
}
