.buttonDropdown {
  [class*='awsui_trigger-button'] {
    transition: all 0.2s !important;
    border-width: 1.5px !important;
    font-size: 15px !important;
  }

  [class*='awsui_dropdown'] {
    border: 0 !important;
  }

  [class*='awsui_dropdown-content-wrapper'] {
    background-color: white !important;
    padding: 5px !important;
    min-width: 150px !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3) !important;

    [class*='awsui_item-element'] {
      @apply text-navy font-normal #{!important};
      border: 0 !important;

      [aria-disabled='true'] {
        @apply text-grey550 font-normal #{!important};
        &:hover {
          cursor: not-allowed !important;
        }
      }
    }

    [class*='awsui_options-list'] {
      margin: 0 !important;
    }

    [class*='awsui_highlighted'] {
      &:not([class*='awsui_disabled']) {
        @apply bg-teal #{!important};
        @apply text-navy font-semibold #{!important};
      }
    }

    [class*='awsui_last'] {
      border-bottom: none !important;
    }

    [class*='awsui_menu-item'] {
      padding-left: 10px !important;
    }

    [class*='awsui_menu-item']:has(span[class*='awsui_icon']) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
}

.buttonDropdownWithPadding {
  [class*='awsui_trigger-button'] {
    padding: 8px 20px !important;
  }
}
