.fileList {
  div[class*='awsui_alert'] {
    padding: 5px 10px !important;
  }
  [class*='awsui_alert-focus-wrapper'] {
    /* Fix for selected file name having very little width */
    display: block !important;
  }
}
.fileDetailContainer {
  cursor: pointer;
  line-height: 1.3;
}
