.cards {
  background: white;
  border-radius: 10px;
  border: solid 1px #ededf2;

  [class*='awsui_header'] {
    border: none !important;
  }
  [class*='awsui_list-grid'] {
    margin: 20px 0px !important;
  }
  [class*='awsui_content_14iqq_n7wym_304'] {
    padding-right: 20px;
  }
}
