.container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 0.5rem;
}

.container > * {
  flex: 1;
  overflow: visible;
  line-break: auto;
}

.header {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
  font-size: 15px;
}

.number {
  margin: 0;
  font-size: 48px;
}

.button {
  all: unset;
  cursor: pointer;
}

.button:disabled {
  cursor: default;
}
