@use '@risk-smart/themed-design-tokens/visual-refresh' as awsui;

.swatch {
  aspect-ratio: 1/1;
  height: 34px;
  line-height: 34px;
  display: block;
  border-radius: awsui.$border-radius-badge;
  color: awsui.$color-text-body-default;
  background-color: awsui.$color-background-button-primary-disabled;
  text-align: center;
}
