.tabList {
  display: grid;
  gap: 0.5rem;
  padding: 1rem 0;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.2rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
  }
}

div.dragging {
  border: 1px solid #ccc !important;
  border-radius: 1rem !important;
}
