@use '@risk-smart/themed-design-tokens/visual-refresh' as awsui;

.dashboard {
  min-width: 900px !important;
}

/* Hide the radio button */
/* Hide the radio button */
.type {
  [class*='awsui_radio-control'] {
    display: none;
  }
  [class*='awsui_card-inner'] {
    cursor: pointer;

    [class*='awsui_title'] {
      width: 100% !important;
    }
  }
  [class*='awsui_section_'] {
    padding-top: 0px !important;
  }

  /* Don't take up any space when no header is present e..g unlinked obligations */
  [class*='awsui_card-header-inner'] {
    display: inherit !important;
  }

  /* Removing bottom padding on body title */
  [class*='awsui_root-no-actions'] {
    padding-bottom: 0px !important;
  }
}

.type
  [class*='awsui_card-selectable']
  > [class*='awsui_card-inner']
  > [class*='awsui_card-header'] {
  width: 100% !important;
}

.type [class*='awsui_card-header-inner'] [class*='awsui_title'] {
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 1400px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
}

.type [data-unlinked='true'] [class*='awsui_title'] {
  color: #73738c !important;
}
