.noCalPicker {
  ::-webkit-calendar-picker-indicator {
    display: none;
  }
  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    input[value=""]::before {
      content: 'dd/mm/yyyy';
      display: inline-block;
      position: absolute;
      color: #333;
    }
    input[value=""] {
      position: relative;
      color: transparent !important;
    }
  }

  input::-webkit-datetime-edit-day-field:focus,
  input::-webkit-datetime-edit-month-field:focus,
  input::-webkit-datetime-edit-year-field:focus {
    background-color: #b1f2ed;
  }
}
