node_modules/
**/node_modules/**
**/turbo/**
**/dist/**
packages/
!packages/eslint-config
!packages/mcp-server
!packages/trpc
!packages/trpc-api-tests
!packages/external-api
!packages/tenant-deployer
!services/request-state-api
!packages/shared
!packages/permitio
!packages/drizzle
!packages/events
!packages/local-auth-provider
!packages/domain
!services/tenant-configuration
!packages/form-configuration
!packages/schedule-state
!packages/modules
packages/trpc/dist
packages/trpc/node_modules
stacks
cdk-stack
docs
.editorconfig
.env
.env.example
.gitignore
build-utils.ts
scripts
eslint.config.js
graphql.config.yaml
launch.json
README.md
renovate.json
renovate-global-config.json
risksmart-app.code-workspace
secrets.dev.env
secrets.env
setup.sh
sst.config.ts
static-analysis.datadog.yml
tsconfig.tsbuildinfo
vitest.workspace.js
