auto-install-peers=true
dedupe-peer-dependents=true
resolve-peers-from-workspace-root=true
public-hoist-pattern[]=workbox-window
public-hoist-pattern[]=@types*
public-hoist-pattern[]=@vitest/expect
public-hoist-pattern[]=@testing-library/jest-dom
public-hoist-pattern[]=@cloudscape-design*
public-hoist-pattern[]=*storybook*
enable-pre-post-scripts=true
strict-dep-builds=true
@risk-smart:registry=https://npm.pkg.github.com