.dashboardViewToggle {
  [class*='awsui_segment-part'] {
    height: 44px;
    gap: 0px !important;
    background-color: transparent !important;
    border: none !important;

    button[class*='awsui_segment']:not(#\9):not(:last-child)::after {
      background: none !important;
    }

    button[class*='awsui_segment']:not(#\9) {
      border: 2px solid;
      @apply bg-white text-grey500 border-[#b9b9c6] #{!important};
    }

    button[class*='awsui_segment']:not(#\9):nth-child(1) {
      border-start-end-radius: 0px !important;
      border-end-end-radius: 0px !important;
    }

    button[class*='awsui_segment']:not(#\9):nth-child(2) {
      border-start-start-radius: 0px !important;
      border-end-start-radius: 0px !important;
    }

    [class*='awsui_segment'][class*='awsui_selected']:not(#\9) {
      @apply bg-light_blue text-navy_light border-[#41D9CC]  #{!important};
    }
  }
}
