@use '@risk-smart/themed-design-tokens/visual-refresh' as awsui;

.filterPreview {
  [class*='awsui_token'] {
    color: awsui.$color-text-body-default !important;
  }
  [class*='awsui_search-field'],
  [class*='awsui_separator'],
  [class*='awsui_dismiss-button'] {
    display: none !important;
  }
  [class*='awsui_tokens'] {
    margin: 0 !important;
  }
}
