@use '@risk-smart/themed-design-tokens/visual-refresh' as awsui;

.dangerButton {
  background: awsui.$color-charts-red-500 !important;
  border-color: awsui.$color-charts-red-500 !important;
  color: #ffffff !important;
}

.dangerButton:hover {
  background: awsui.$color-charts-red-600 !important;
  border-color: awsui.$color-charts-red-600 !important;
}

.dangerButton:disabled {
  opacity: 0.7;
}

.iconApproved {
  color: green !important;
}

.iconRejected {
  color: red !important;
}
