# The domain name from REACT_APP_REST_API_URL. This can be retrieving after an SST deployment by viewing the value of RestAPI ApiEndpoint in the console
REST_API_DOMAIN=
# This value needs to match that is in AWS param store for REST_API_KEY
REST_API_KEY="bearer e8f20db9-e5c2-4e59-a814-298a2c366c0c"
TENANT=MultiTenant
PDP_API_KEY=KEY
