.wizard {
  [class*='awsui_help-panel_1d237_1v003_177'] {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
  }
  [class*='awsui_content_1d237_1v003_387'] {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
