.root {
  [class*='awsui_dropdown-content'] {
    [class*='awsui_parent'] {
      [class*='awsui_checkbox'] {
        /* Hide checkboxes on groups */
        display: none;
      }
    }
    [class*='awsui_label-tag'] {
      color: #8f8fac !important;
      font-weight: 400 !important;
      font-size: 12px !important;
    }
  }
}
