.pageWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: stretch;
  justify-content: center;
  gap: 2rem;
}

.pageWrapperCopy {
  display: flex;
  justify-content: center;
  text-align: center;

  h3,
  p {
    text-align: center;
  }
}
