@use '@risk-smart/themed-design-tokens/visual-refresh' as awsui;

.errorContent {
  [class*='awsui_link'] {
    color: #2d2d53 !important;
    text-decoration: underline !important;
    &:hover {
      text-decoration: none !important;
    }
  }
}
