@use '@risk-smart/themed-design-tokens/visual-refresh' as awsui;

.button {
  transition: all 0.2s !important;
  background: awsui.$color-charts-red-500 !important;
  border-color: awsui.$color-charts-red-500 !important;
  color: #ffffff !important;
}

.button:disabled {
  opacity: 0.4 !important;
  cursor: not-allowed !important;
}

.button:hover:not(:disabled) {
  background: awsui.$color-charts-red-700 !important;
  border-color: awsui.$color-charts-red-700 !important;
}
