.gridContainer {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: 1fr 30px;
  height: 100%;
  border-spacing: 5px;
}

.xAxisTitle {
  text-align: center;
  grid-column-start: 2;
}
.yAxisTitle {
  text-align: center;
  rotate: -90deg;
  writing-mode: vertical-lr;
  rotate: 180deg;
}

.row {
  display: table-row;
}

.table {
  display: table;
  height: 100%;
}

.cell {
  cursor: pointer;
  display: table-cell;
  margin: auto;
  vertical-align: middle;
  border-radius: 2px;
  text-align: center;
  /* Give cells equal width regardless of content */
  max-width: 0px;
}

.table:hover {
  .cell {
    opacity: 0.5;
  }
  .cell:hover {
    opacity: 1;
  }
}

.innerCell {
  background: white;
  height: 22px;
  min-width: 28px;
  text-align: center;
  border-radius: 2px;
  display: inline-block;
  line-height: 22px;
}
